$greyBackground: #313131;
$whiteBackground: #ffffff;
$textColor: #ffffff;
$titleColor: #59dbdb;
$secondaryTextColor: #c1c1c1;
$titleSize: 36px;
$cardGradient: linear-gradient(to bottom right, #26fff2, #18f856);
$cardText: #3a3a3a;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  background-color: $greyBackground;
  @include flexCenter();
  flex-direction: column;
  height: 720px;
  .intro {
    color: $textColor;
    font-size: $titleSize;
  }
  .name {
    color: $titleColor;
    font-weight: 700;
  }
  .caption {
    color: $secondaryTextColor;
  }
}

.skewed-one {
  height: 450px;
  background-color: $greyBackground;
  position: relative;
  width: 100%;
  overflow: hidden;
  .skewed-two {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 300px 1900px 0 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
  }
}

.about-me {
  background-color: $whiteBackground;
  display: grid;
  grid-template-rows: 1fr 6fr;
  justify-content: center;
  align-items: center;
  .title {
    font-size: $titleSize;
    font-weight: 700;
    color: $titleColor;
    @include flexCenter();
    span {
      color: $greyBackground;
      margin-left: 10px;
    }
  }
  .description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .text {
      padding: 100px;
      @include flexCenter();
    }
    .picture {
      padding: 100px;
      @include flexCenter();
    }
  }
}

.skewed-three {
  height: 450px;
  background-color: $whiteBackground;
  position: relative;
  width: 100%;
  overflow: hidden;
  .skewed-four {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 300px 1900px 0 0px;
    border-color: transparent $greyBackground transparent transparent;
    border-style: solid;
  }
}

.projects {
  background-color: $greyBackground;
  display: grid;
  grid-template-rows: 1fr 10fr;
  .title {
    color: $titleColor;
    font-size: $titleSize;
    font-weight: 700;
    @include flexCenter();
  }
  .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    .card {
      background: $cardGradient;
      margin: 60px;
      height: 450px;
      border-radius: 20px;
      display: grid;
      grid-template-rows: 1fr 4fr 1fr;
      align-items: center;
      justify-content: center;
      .title {
        color: $textColor;
      }
      .description {
        color: $cardText;
        padding: 40px;
      }
      .repo-button {
        background-color: $greyBackground;
        height: 40px;
        font-weight: 600;
        color: $textColor;
        border-radius: 30px;
        border: 2px solid $greyBackground;
        transition: .1s ease-in-out;
        @include flexCenter();
        margin: 0px 75px;
        &:hover {
          cursor: pointer;
          background-color: $textColor;
          color: $greyBackground;
          transition: .1s ease-in-out;
        }
      }
    }
  }
}
