$greyBackground: #313131;
$whiteBackground: #ffffff;
$textColor: #ffffff;
$titleColor: #59dbdb;
$secondaryTextColor: #c1c1c1;
$titleSize: 36px;
$cardGradient: linear-gradient(to bottom right, #26fff2, #18f856);
$cardText: #3a3a3a;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  background-color: $greyBackground;
  @include flexCenter();
  flex-direction: column;
  height: 720px;
  .intro {
    color: $textColor;
    font-size: $titleSize;
  }
  .name {
    color: $titleColor;
    font-weight: 700;
  }
  .caption {
    color: $secondaryTextColor;
  }
}

.skewed-one {
  height: 450px;
  background-color: $greyBackground;
  position: relative;
  width: 100%;
  overflow: hidden;
  .skewed-two {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 300px 1900px 0 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
  }
}

.skewed-three {
  height: 450px;
  background-color: $whiteBackground;
  position: relative;
  width: 100%;
  overflow: hidden;
  .skewed-four {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 300px 1900px 0 0px;
    border-color: transparent $greyBackground transparent transparent;
    border-style: solid;
  }
}


.about-me {
  background-color: $whiteBackground;
  display: grid;
  grid-template-rows: 1fr 6fr;
  justify-content: center;
  align-items: center;
  .title {
    font-size: $titleSize;
    font-weight: 700;
    color: $titleColor;
    @include flexCenter();
    span {
      color: $greyBackground;
      margin-left: 10px;
    }
  }
  .description {
    display: grid;
    grid-template-columns: 1fr;
    .text {
      padding: 100px;
      @include flexCenter();
      flex-direction: column;
      div {
        margin-bottom: 20px;
      }
      a {
        text-decoration: none;
      }
      .resume {
        background: $cardGradient;
        padding: 15px;
        border-radius: 100px;
        color: $textColor;
        font-weight: 700;
        transition: .2s ease;
        box-shadow: $greyBackground 2px 2px 5px;
        &:hover {
          cursor: pointer;
          color: $greyBackground;
          transition: .2s ease;
        }
      }
    }
  }
}


.projects {
  background-color: $greyBackground;
  display: grid;
  grid-template-rows: 1fr 10fr;
  .title {
    color: $titleColor;
    font-size: $titleSize;
    font-weight: 700;
    @include flexCenter();
  }
  .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    .card {
      background: $cardGradient;
      margin: 60px;
      height: 450px;
      border-radius: 20px;
      display: grid;
      grid-template-rows: 1fr 4fr 1fr;
      align-items: center;
      justify-content: center;
      @include flexCenter();
      flex-direction: column;
      .title {
        color: $textColor;
        opacity: 0;
        transition: .3s ease-in-out;
      }
      .description {
        color: $cardText;
        padding: 40px;
        opacity: 0;
        transition: .3s ease-in-out;
      }
      .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        opacity: 0;
        transition: .3s ease-in-out;
        a {
          background-color: $greyBackground;
          z-index: 3;
          padding: 10px;
          @include flexCenter();
          border-radius: 100px;
          color: $textColor;
          text-decoration: none;
          border: 2px solid $greyBackground;
          transition: .2s ease-in-out;
          font-weight: 600;
          &:hover {
            background-color: $whiteBackground;
            color: $greyBackground;
            transition: .2s ease-in-out;
          }
        }
      }

      .image {
        position: absolute;
        height: 400px;
        transition: .3s ease-in-out;
        opacity: 1;
        @include flexCenter();
        font-size: 60px;
        font-weight: 700;
        color: $greyBackground;
      }
      &:hover {
        .title, .description, .buttons {
          opacity: 1;
          @include flexCenter();
          transition: .3s ease-in-out;
          z-index: 2;
        }
        .image {
          opacity: 0;
          transition: .3s ease-in-out;
        }
      }
      #social-network-api {
        font-size: 50px;
      }
      #ecommerce-backend {
        font-size: 46px;
      }
    }
  }
}

.skills {
  display: grid;
  grid-template-rows: 1fr 1fr 10fr;
  align-items: center;
  justify-content: center;
  .title {
    font-size: $titleSize;
    color: $titleColor;
    font-weight: 700;
    @include flexCenter();
  }
  .description {
    @include flexCenter();
  }
  .skills-list {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(1fr 10);
      padding: 0 0 40px 0;
      margin: 0;
      li {
        list-style: none;
        padding: 0;
        @include flexCenter();
        margin: 40px 60px;
        padding: 30px 50px;
        background: $cardGradient;
        border-radius: 100px;
        font-size: 20px;
        font-weight: 600;
        color: $textColor;
        box-shadow: $greyBackground 2px 2px 5px;
      }
    }
  }
}


.socials {
  background-color: $greyBackground;
  display: grid;
  grid-template-rows: 1fr 8fr;
  align-items: center;
  justify-content: center;
  color: $textColor;
  @include flexCenter();
  flex-direction: column;
  .title {
    color: $titleColor;
    font-size: $titleSize;
    font-weight: 700;
    @include flexCenter();
  }
  .links {
    margin-top: 50px;
    .linkedin, .github, .resume, .contact-me {
      display: grid;
      grid-template-columns: 1fr 6fr;
      gap: 10px;
      margin: 50px;
      a {
        text-decoration: none;
        color: $textColor;
      }
      .logo-box {
        background: $cardGradient;
        padding: 10px;
        border-radius: 200px;
        height: 50px;
        @include flexCenter();
        .logo {
          height: 50px;
        }
      }
      .button {
        background: $cardGradient;
        padding: 30px;
        height: 15px;
        @include flexCenter();
        font-size: 30px;
        font-weight: 700;
        border-radius: 100px;
        transition: .15s ease-in-out;
        &:hover {
          cursor: pointer;
          color: $greyBackground;
          transition: .15s ease-in-out;
        }
      }
    }
  }
}