body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 720px;
}

.home .intro {
  color: #ffffff;
  font-size: 36px;
}

.home .name {
  color: #59dbdb;
  font-weight: 700;
}

.home .caption {
  color: #c1c1c1;
}

.skewed-one {
  height: 450px;
  background-color: #313131;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.skewed-one .skewed-two {
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 300px 1900px 0 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.about-me {
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 6fr;
      grid-template-rows: 1fr 6fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .title {
  font-size: 36px;
  font-weight: 700;
  color: #59dbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me .title span {
  color: #313131;
  margin-left: 10px;
}

.about-me .description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about-me .description .text {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me .description .picture {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skewed-three {
  height: 450px;
  background-color: #ffffff;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.skewed-three .skewed-four {
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 300px 1900px 0 0px;
  border-color: transparent #313131 transparent transparent;
  border-style: solid;
}

.projects {
  height: 1280px;
  background-color: #313131;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10fr;
      grid-template-rows: 1fr 10fr;
}

.projects .title {
  color: #59dbdb;
  font-size: 36px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */