$greyBackground: #3C3434;
$whiteBackground: #ffffff;
$textColor: #ffffff;
$titleColor: #59DBDB;
$secondaryTextColor: #C1C1C1;

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    background-color: $greyBackground;
    @include flexCenter();
    flex-direction: column;
    height: 720px;
    .intro {
        color: $textColor;
        font-size: 36px;
    }
    .name {
        color: $titleColor;
        font-weight: 700;
    }
    .caption {
        color: $secondaryTextColor;
    }
}

.navbar {
    height: 450px;
    background-color: $greyBackground;
    position: relative;
    width: 100%;
    overflow: hidden;
    ul {
        display: flex;
        justify-content: space-around;
        font-size: 24px;
        font-weight: 600;
        color: $textColor;
        transform: rotate(351deg);
        margin-top: 275px;
        li {
            list-style: none;
            padding: 0;
        }
    }
    .skewed {
        position: absolute;
        bottom: 0;
        left: 0;
        border-width: 300px 1900px 0 0px;
        border-color: transparent #fff transparent transparent;
        border-style: solid;
    }
}

.projects {
    background-color: $whiteBackground;
}